# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Compiled files
#dist/

# TS cache directory
.tscache/

# e2e
e2e/*.js
e2e/*.map

# IDEs and editors
.editorconfig